<div id="<%= dom_id event %>">
  <h3><%= event.title %></h3>
  <p><%= event.location %></p>
  <p><%= event.event_date %></p>

  <h4>Attendees</h4>
  <ul>
    <% event.attendees.each do |attendee| %>
      <li><%= attendee.email %></li>
    <% end %>
  </ul>
</div>
