<p style="color: green"><%= notice %></p>

<%= render @event %>

<% if current_user && @event.creator != current_user %>
  <% if !@event.attendees.exists?(current_user.id) %>
    <%= button_to "Attend this event", attend_event_path(@event.id), method: :post %>
  <% else %>
    <%= button_to "Unattend this event", unattend_event_path(@event.id), method: :delete %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to events", events_path %><br>

  <% if @event.creator == current_user %>
    <%= link_to "Edit this event", edit_event_path(@event.id) %><br>
    <%= button_to "Destroy this event", @event, method: :delete %>
  <% end %>
</div>
